@model IEnumerable<PatientInformationPortaUI.Models.PatientViewModel>

@{
    ViewData["Title"] = "Index";
}

        <h1 class="text-info text-center p-1 border-dark">Patient Information Portal</h1>
        <hr />

    <p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
    
<table class="table text-center" id="patientTable">
    <thead>
        <tr>
            <th>
                PatientName
            </th>
            <th>
                Disease
            </th>
            <th>
                Epilepsy
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epilepsy)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Patient" asp-route-id="@item.PatientID">Edit</a> |
                <a class="btn btn-warning" asp-action="Details" asp-controller="Patient" asp-route-id="@item.PatientID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Patient" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
